%h1#site-title SassBin
#pane-controls
  %label
    %input{type: 'checkbox', name: 'pane-html', checked: true} HTML
  %label
    %input{type: 'checkbox', name: 'pane-sass', checked: true} SASS
  %label
    %input{type: 'checkbox', name: 'pane-css', checked: true} Compiled CSS
  %label
    %input{type: 'checkbox', name: 'pane-output', checked: true} Output
  %button#equalize |<->|
#gist-controls
  %ul
    %li
      %a#load-gist{href: "/gist/5567591"} Load gist