-# jQuery
%script{src:      "//cdn.jsdelivr.net/jquery/2.0.2/jquery.min.js",
        type:     "text/javascript",
        charset:  "utf-8" }

-# Underscore
%script{src:      "//cdn.jsdelivr.net/underscorejs/1.4.4/underscore-min.js",
        type:     "text/javascript",
        charset:  "utf-8" }

-# Underscore.String
%script{src:      "//cdn.jsdelivr.net/underscore.string/2.3.1/underscore.string.min.js",
        type:     "text/javascript",
        charset:  "utf-8" }

-# jQuery UI
%script{src:      "//cdn.jsdelivr.net/jquery.ui/1.9.2/jquery-ui.min.js",
        type:     "text/javascript",
        charset:  "utf-8" }
%link{rel: "stylesheet",
      href: "//cdn.jsdelivr.net/jquery.ui/1.9.2/themes/base/jquery.ui.resizable.css"}

-# Clientside HAML
%script{src:      "//rawgithub.com/uglyog/clientside-haml-js/master/lib/haml.min.js",
        type:     "text/javascript",
        charset:  "utf-8" }

-# ACE Editor
%script{src:      "//cdn.jsdelivr.net/ace/1.1.01/noconflict/ace.js",
        type:     "text/javascript",
        charset:  "utf-8" }
