%h1#site-title SassBin
#pane-controls
  -#%ul.tristate
  -#  %li#checkbox-group-input
  -#    %input#checkbox-input.checkbox-group{type: 'checkbox', checked: true}
  -#    %label{for: 'checkbox-input'} Input
  -#    %ul
  -#      %li
  -#        %input#checkbox-pane-html.checkbox-pane{type: 'checkbox', name: 'pane-html', checked: true}
  -#        %label{for: 'checkbox-pane-html'} HTML
  -#      %li
  -#        %input#checkbox-pane-sass.checkbox-pane{type: 'checkbox', name: 'pane-sass', checked: true}
  -#        %label{for: 'checkbox-pane-sass'} SASS
  -#  %li#checkbox-group-output
  -#    %input#checkbox-output.checkbox-group{type: 'checkbox', checked: true}
  -#    %label{for: 'checkbox-output'} Output
  -#    %ul
  -#      %li
  -#        %input#checkbox-pane-css.checkbox-pane{type: 'checkbox', name: 'pane-css', checked: true}
  -#        %label{for: 'checkbox-pane-css'} CSS
  -#      %li
  -#        %input#checkbox-pane-page.checkbox-pane{type: 'checkbox', name: 'pane-page', checked: true}
  -#        %label{for: 'checkbox-pane-page'} Page
  %label
    %input.checkbox-pane#checkbox-pane-html{type: 'checkbox', name: 'pane-html', checked: true} HTML
  %label
    %input.checkbox-pane#checkbox-pane-sass{type: 'checkbox', name: 'pane-sass', checked: true} SASS
  %label
    %input.checkbox-pane#checkbox-pane-css{type: 'checkbox', name: 'pane-css', checked: true} CSS
  %label
    %input.checkbox-pane#checkbox-pane-page{type: 'checkbox', name: 'pane-page', checked: true} Page
  %button#equalize |<->|
  %span#statusbar
#gist-controls
  %ul
    %li
      %a#go-to-gist.is-inactive
    %li
      %a.js#new-gist.is-inactive{href: "#"} New
    %li
      %a.js#save-gist.is-inactive{href: "#"} Save
    %li
      %a.js#load-gist{href: "/gist/5567591"} Load gist