@import compass
@import sassy-buttons

+global-reset

html
  overflow-y: hidden
  overflow-x: auto
  height: 100%
  font-family: Verdana, Geneva, sans-serif
  font-size: 12px
  color: #2d2d2d
  +text-shadow(1px 1px white)



body
  height: 100%
  min-width: 750px
  position: relative

.ui-resizable-helper
  border: 2px dotted teal


%stretch
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

$header-height: 35px
#header
  @extend %stretch
  bottom: none
  height: $header-height
  line-height: $header-height
  vertical-align: middle
  +background-image(linear-gradient(left, #3c3c3c, #646464, #3c3c3c))

  border-bottom: 1px solid black

  color: white
  +text-shadow(1px 1px black)

  a
    color: white
    text-decoration: none
    border-bottom: 1px solid white

    &:visited
      color: lightgrey
      border-bottom-color: lightgrey

    &:hover
      color: lightblue
      border-bottom-color: lightblue

    &.js
      &, &:visited
        color: white
        border-bottom: 1px dashed white
      &:hover
        color: lightblue
        border-bottom-color: lightblue

  label
    input[type=checkbox]
      display: none
    span
      +sassy-button("simple", 10px, 12px, #ccc)
      line-height: 1
      padding: 0.3em 0.5em
    input[type=checkbox]:checked + span
      +sassy-button-style("inset")

input[type=checkbox]
  margin-top: 1px
  vertical-align: middle

#site-title
  font-weight: bold

#site-title, #pane-controls
  float: left
  margin-left: 0.5em

#gist-controls
  float: right
  margin-right: 0.5em
  ul
    text-align: right
    li
      display: inline-block
      margin-left: 0.5em

#main
  @extend %stretch
  top: $header-height + 1
  background: url('/images/awesome.png') center center no-repeat transparent

.pane
  @extend %stretch
  position: absolute !important

  $pane-header-height: 25px
  header
    @extend %stretch
    bottom: none
    height: $pane-header-height
    line-height: $pane-header-height
    padding-left: 0.4em
    padding-right: 0.4em
    vertical-align: middle
    +background-image(linear-gradient(#FCFCFC, #EBEBEB))
    border-bottom: 1px solid #E5E5E5

    & > *
      display: inline-block
    .pane-settings
      float: right
      & > *
        display: inline-block

  .editor
    @extend %stretch
    top: $pane-header-height + 1

.pane.ui-resizable
  header, .ace_editor
    right: 6px

  .ui-resizable-handle
    right: 0
    width: 6px
    background: url('/images/draggable.png') top left repeat-y grey



#output
  width: 100%
  height: 100%
  background-color: white
.output-overlay
  display: none
  @extend %stretch

$panes: pane-html, pane-sass, pane-css, pane-page
$panes-amount: length($panes)
$pane-width: 100% / $panes-amount
@each $pane in $panes
  $i: index($panes, $pane)
  //.pane:nth-child(#{$i})
  ##{$pane}
    left: $pane-width * ($i - 1)
    right: 100% - ($pane-width * $i)

#pane-css
  .ace_scroller
    background-color: #eee

.is-active
  display: block
.is-inactive
  display: none

#statusbar
  margin-left: 1em
