-##pane-container
%section#pane-html.pane.is-active
  %header
    %h2 HTML
  #editor-html.editor
%section#pane-sass.pane.is-active
  %header
    %h2 SASS
  #editor-sass.editor
%section#pane-css.pane.is-active
  %header
    %h2 Compiled CSS
  #editor-css.editor
%section#pane-output.pane.is-active
  %header
    %h2 Output
  .editor
    %iframe#output{name: 'output'}
    #output-overlay